.popup__text {
  max-width: 238px;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: 900;
  color: #000000;
  margin: 24px auto 50px 25px;
}
@media (min-width:768px) {
  .popup__text {
    max-width: 330px;
    font-size: 24px;
    line-height: 29px;
    margin: 28px auto 16px 40px;
  }
}