.profile {
  width: 282px;
  margin: 42px auto 34px;
  display: flex;
  position: relative;
  flex-direction: column;
  color: #FFFFFF;
}
@media (min-width:768px) {
  .profile {
    width: 584px;
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    gap: 30px;
  }
}
@media (min-width:1024px) {
  .profile {
    width: 880px;
    margin-top: 40px;
    margin-bottom: 50px;
  }
}