.elements {
  width: 320px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-template-rows: 361px;
  justify-content: center;
}
@media (min-width:768px) {
  .elements {
    width: 584px;
  }
}
@media (min-width:1024px) {
  .elements {
    width: 880px;
    gap: 25px 17px;
  }
}