.footer__copyright {
  font-style: normal;
  color: #545454;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  width: 282px;
  margin: 48px 0 36px;
}
@media (min-width:1024px) {
  .footer__copyright {
  margin-top: 66px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 22px;
  }
}