.element__like-buttn {
  height: 19px;
  width: 22px;
  align-self: center;
  background-image: url(../../../images/like-button.svg);
  background-color: #FFFFFF;
  border: 0;
}
.element__like-buttn:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}