.popup__input-text {
  font-size: 14px;
  line-height: 17px;
  width: 238px;
  height: 27px;
  margin: 0 auto 29px;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px 10px;
}
@media (min-width:768px) {
  .popup__input-text {
    width: 358px;
    margin: 10px auto 15px;
  }
}