.popup__save-button {
  width: 238px;
  height: 46px;
  background: #000000;
  border-radius: 2px;
  border: 0;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  font-family: Inter;
  margin: 25px auto 23px;
}
.popup__save-button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}
@media (min-width:768px) {
  .popup__save-button {
    width: 358px;
    margin: 42px auto 37px;
    font-size: 18px;
    line-height: 22px;
  }
}