.element__like-button {
  height: 19px;
  width: 22px;
  align-self: center;
  background-image: url(../../../images/like-button.svg);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.element__like-button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}